.App {
  text-align: center;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/gilroy/Gilroy-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: local('Gilroy'), url(./assets/gilroy/Gilroy-ExtraBold.ttf) format('ttf');
}
